<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template 1</title>
    <link rel = "stylesheet" href="../static/w3.css">
     <style>
    body {
        height: 842px;
        width: 595px;
        /* to centre page on screen*/
        margin-left: auto;
        margin-right: auto;

    }
    html, body {
  font-family: "Arial", cursive, sans-serif;

    }
    p.thick {
    font-weight: bold;
    }
    </style>
</head>
<body>
<div align="center">
    <p id="Heading" class="thick w3-xlarge" >
    RESUME
</p>
</div>

<div align="left">
    <p align="left" class="thick"> PERSONAL INFORMATION</p>
    <hr color="w3-black">



</div>
</body>
</html>