<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template 1</title>
    <link rel = "stylesheet" href="../static/w3.css">
    <link type="text/css" rel="stylesheet" href="../static/T1.css">
    <link type="text/css" rel="stylesheet" href="../static/style.css">
    <link type="text/css" rel="stylesheet" href="../static/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body  class="quickFade" >
<section class="vertical25" style="margin:auto;s" >
<div align="center" >
    <br class="linespace">
    <p id="Heading" class="bold w3-xlarge resume " >
    RESUME
</p>
</div>

<div >
    <p id="header1" class="bold left">PERSONAL INFORMATION</p>
    <hr color="w3-black">
<div class="w3-row-padding">
    <div class="w3-row-padding w3-col m8 ">
        <div class="w3-col m3">
    <p>Full name:</p>
    <p>DOB:</p>
    <p>Address:</p>
    <p>Phone number:</p>
    <p>Email:</p>
        </div>
        <div class="w3-col m9">
            <p id="Fullname">{{ update['name'] }}</p>
            <p id="DOB">{{ update['dob'] }}</p>
            <p id="Address">{{ update['address'] }}</p>
            <p id="Phonenumber">{{ update['phone'] }}</p>
            <p id="Email">{{ update['email'] }}</p>
    </div>
</div>

    <div class=" w3-col s1">
    <img src="{{ update['img'] }}"
         class="alignimg" width=150px height=180px>
    </div>

</div>
</div>

 <div class="sectionTitle">
				<p>EDUCATION</p>
			</div>
    <hr color="w3-black">
    <div class="w3-row-padding">

            <div class="w3-col s3">
                <p class="italic subDetails">{{ update['school-time'] }}</p>

            </div>
			<div class="sectionContent w3-twothird">
				<article>
                    <p id ='Com1' class="bold ">{{ update['school'] }}</p>

                    <ul class="w3-justify">
                    {{ update['edu-desc'] }}</ul>
				</article>
            </div>

           <div class="w3-col s3">
                <p class="italic subDetails">{{ update['school-time1'] }}</p>

            </div>
			<div class="sectionContent w3-twothird">
				<article>
                    <p id ='Com1' class="bold ">{{ update['school1'] }}</p>

                    <ul class="w3-justify">
                    {{ update['edu-desc1'] }}</ul>
				</article>
            </div>

           <div class="w3-col s3">
                <p class="italic subDetails">{{ update['school-time2'] }}</p>

            </div>
			<div class="sectionContent w3-twothird">
				<article>
                    <p id ='Com1' class="bold ">{{ update['school2'] }}</p>

                    <ul class="w3-justify">
                    {{ update['edu-desc2'] }}</ul>
				</article>
            </div>
    </div>

    <div class="sectionTitle">
				<p>WORKING EXPERIENCE</p>
			</div>
    <hr color="w3-black">
    <div class="w3-row-padding">

            <div class="w3-col s3">
                <p class="italic subDetails">{{update['job-time'] }}</p>

            </div>
			<div class="sectionContent w3-twothird">
				<article>
                    <p id ='Com1' class="bold ">{{ update['company'] }}</p>
					<p id="Title1" class = "italic linespace">{{ update['job-title'] }}</p>
                    <p> {{ update['job-desc'] }}</p>
				</article>
            </div>
     </div>
    <div class="w3-row-padding">
            <div class="w3-col s3">
                <p class="italic subDetails">{{update['job-time1'] }}</p>

            </div>
			<div class="sectionContent w3-twothird">
				<article>
                    <p id ='Com1' class="bold ">{{ update['company1'] }}</p>
					<p id="Title1" class = "italic linespace">{{ update['job-title1'] }}</p>
                    <p> {{ update['job-desc1'] }}</p>
				</article>
            </div>
 </div>
    <div class="w3-row-padding">
            <div class="w3-col s3">
                <p class="italic subDetails">{{update['job-time2'] }}</p>

            </div>
			<div class="sectionContent w3-twothird">
				<article>
                    <p id ='Com1' class="bold ">{{ update['company2'] }}</p>
					<p id="Title1" class = "italic linespace">{{ update['job-title2'] }}</p>
                    <p> {{ update['job-desc2'] }}</p>
				</article>
            </div>
    </div>



</section>

<button id="print"> Download </button>
<script>
    $("#print").click(function () {
        window.print();
    });
</script>





















</body>
</html>