<!DOCTYPE html>
<html>
<head>
<title>{{ update['name'] }} - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8">
<style>
        @media print {
    #print {
    display: none;
         }
         }
    </style>
<link type="text/css" rel="stylesheet" href="../static/style.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
	<button id="print"> Download </button>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div>
			<img src="{{ update['img'] }}"
                 alt="{{ update['name'] }}"
            width=150px height=180px>
		</div>

		<div id="name">
			<h1 class="quickFade delayTwo" id="name">{{ update['name'] }}</h1>
			<h2 class="quickFade delayThree" id="job-title">{{ update['job-title'] }}</h2>
		</div>

		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li id="email">EMAIL: <a href="mailto:joe@bloggs.com" target="_blank">{{ update['email'] }}</a></li>
				<li id="phone">PHONE: {{ update['phone'] }}</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>

				<div class="sectionContent">
                    <p id="dob">{{ update['dob'] }}</p>
                    <p id="address">{{ update['address'] }}</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>

			<div class="sectionContent">
				<article>
                    <h2 id="job-title">{{ update['job-title'] }} </h2>
                    <h3 id="company">{{ update['company'] }}</h3>
					<p class="subDetails" id="job-time">{{ update['job-time'] }}</p>
					<p id="job-desc">{{ update['job-desc'] }}</p>
				</article>

                <article>
                    <h2 id="job-title1">{{ update['job-title1'] }} </h2>
                    <h3 id="company1">{{ update['company1'] }}</h3>
					<p class="subDetails" id="job-time1">{{ update['job-time1'] }}</p>
					<p id="job-desc1">{{ update['job-desc1'] }}</p>
				</article>

                <article>
                    <h2 id="job-title2">{{ update['job-title2'] }} </h2>
                    <h3 id="company2">{{ update['company2'] }}</h3>
					<p class="subDetails" id="job-time2">{{ update['job-time2'] }}</p>
					<p id="job-desc2">{{ update['job-desc2'] }}</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>




		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2 id="school">{{ update['school'] }}</h2>
                    <p class="subDetails" id="school-time">{{ update['school-time'] }}</p>
					<p id="qualification">{{ update['qualification'] }}</p>
                    <p id="edu-desc">{{ update['edu-desc'] }}</p>
				</article>

				<article>
					<h2 id="school1">{{ update['school1'] }}</h2>
                    <p class="subDetails" id="school-time1">{{ update['school-time1'] }}</p>
					<p id="qualification1">{{ update['qualification1'] }}</p>
                    <p id="edu-desc1">{{ update['edu-desc1'] }}</p>
				</article>

				<article>
					<h2 id="school2">{{ update['school2'] }}</h2>
                    <p class="subDetails" id="school-time2">{{ update['school-time2'] }}</p>
					<p id="qualification2">{{ update['qualification2'] }}</p>
                    <p id="edu-desc2">{{ update['edu-desc2'] }}</p>
				</article>


			</div>
			<div class="clear"></div>
		</section>

	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script>
    $("#print").click(function () {
        window.print();
    });
</script>


<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
